#ovml_calendar table {
	border-collapse:collapse;
	border:#000 1px solid;
	margin:1em auto;
	width:100%;
}

#ovml_calendar th {
	font-weight:normal;
	text-align:right;
}

#ovml_calendar td, #ovml_calendar th {
	border:#000 1px solid;
	padding:.2em .4em;
	vertical-align:top;
}


#ovml_calendar ul {
	list-style-type:none;
	width:20em;
	margin:1em auto;
	padding:0;
}

#ovml_calendar li {
	padding:.2em 1em;
}

#ovml_calendar td a {
	display:block;
	padding:.3em;
	text-decoration:none;
	color:#000;
}

#ovml_calendar tbody td {
	padding:0;
}

#ovml_calendar tbody td:nth-child(even) {
    border-right-color:#ccc;
}

#ovml_calendar_events,
#ovml_calendar .original {
	display:none;
}

